@font-face {
    font-family: "socialico";
    src: url("fonts/Socialico/Socialico.eot");
    src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"), url("fonts/Socialico/Socialico.woff2") format("woff2"), url("fonts/Socialico/Socialico.woff") format("woff"), url("fonts/Socialico/Socialico.ttf") format("truetype"), url("fonts/Socialico/Socialico.svg#lobster_1.4regular") format("svg");
}
@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Bold.eot');
    src: url('fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/OpenSans-Bold.woff2') format('woff2'),
        url('fonts/OpenSans-Bold.woff') format('woff'),
        url('fonts/OpenSans-Bold.ttf') format('truetype'),
        url('fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Regular.eot');
    src: url('fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/OpenSans-Regular.woff2') format('woff2'),
        url('fonts/OpenSans-Regular.woff') format('woff'),
        url('fonts/OpenSans-Regular.ttf') format('truetype'),
        url('fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Bold.eot');
    src: url('fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Bold.woff2') format('woff2'),
        url('fonts/Montserrat-Bold.woff') format('woff'),
        url('fonts/Montserrat-Bold.ttf') format('truetype'),
        url('fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-SemiBold.eot');
    src: url('fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('fonts/Montserrat-SemiBold.woff') format('woff'),
        url('fonts/Montserrat-SemiBold.ttf') format('truetype'),
        url('fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.eot');
    src: url('fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Regular.woff2') format('woff2'),
        url('fonts/Montserrat-Regular.woff') format('woff'),
        url('fonts/Montserrat-Regular.ttf') format('truetype'),
        url('fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-ExtraBold.eot');
    src: url('fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-ExtraBold.woff2') format('woff2'),
        url('fonts/Montserrat-ExtraBold.woff') format('woff'),
        url('fonts/Montserrat-ExtraBold.ttf') format('truetype'),
        url('fonts/Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}


.suspension-contain {max-height: 980px;overflow:hidden;position: relative;}
html.suspended {background: rgba(0,0,0,0.6);}
body {max-width: 100%;min-width: 1400px;margin: 0 auto;text-align: center;font-family: 'Montserrat'}
a {color:inherit;text-decoration: none}
a:hover {text-decoration: none;color:inherit;}
h1,h2,h3,h4,h5{ padding:0; margin:0; }
.row {max-width: 1260px;margin: 0 auto}

/*floats*/
.fl {float:left;}
.fr {float:right;}

/* grids */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*typography*/
.text-primary{ color: #B11414; }
.text-bold{ font-weight: 700; }
.text-uppercase{ text-transform: uppercase }
.text-center{ text-align: center !important; }
.text-left{ text-align: left; }

/*button*/
.btn {font-size: 13px; font-weight: 700; color: #fff; display: inline-block; padding: 18.5px 42.5px; background: transparent; border: 1px solid #fff; transition: all 0.5s ease;}
.btn:hover {background: #ddd; border-color: #ddd; color: #000;}

/*clearings*/
.clear{ clear:both;}
.clearfix:after {content:"."; display:block; height:0; clear:both;visibility:hidden;font-size: 0;}
.clearfix {display:block;}

/*cookie*/
.cc-animate.cc-revoke.cc-bottom{font-size: 14px; padding: 5px 10px; position: fixed; display: block!important; transform: none!important; bottom: 0!important; left: 20px!important;}

/*call to action*/
.destroy-on-load, .cta {display: none;}

/*contact form messages*/
form .messages p {display: none;font-family: Arial !important;font-weight: 400 !important;letter-spacing: 0 !important;font-size: 16px !important;}
form .loading {display: none;}
form .alert {padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;}
form .alert-success {color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;}
form .alert-danger {color: #a94442;background-color: #f2dede;border-color: #ebccd1;}
form [type="submit"] {margin:20px auto}

/*contact form*/
.ctc-form {margin: 0 auto;text-align: center;}
.ctc-form input[type="text"],.ctc-form textarea {font-family:Arial;font-size: 16px;color:#000;height:45px;display: block;width: 100%;border:1px solid #ddd;border-radius: 3px;padding: 5px 10px;box-sizing: border-box;margin: 0 auto 8px}
.ctc-form textarea {height: 120px;padding-top:10px;}
.ctc-form button {display: block;}
.ctc-form .recap {display: inline-block;}
.ctc-form .g-recaptcha div {margin: 0 auto 10px;}
.ctc-form .ctc-hide {display: none;}

/*gallery*/
#content .gallery-container {text-align: center;margin: 50px auto;}
#content .gallery-container h4{margin-bottom: 20px;}
#content .gallery {list-style-type: none;margin: 0;padding: 0;}
#content .gallery li {display: inline-block;}
#content .thumbnail {background-color: #fff;border: 1px solid #ddd;border-radius: 4px;display: block;line-height: .42857; margin-bottom: 20px;padding: 4px;transition: border 0.5s ease-in-out 0s;}
#content .thumbnail:hover {transform: scale(1.02);}
#content .page_navigation {display: inline-block;}
#content .page_link,#content .previous_link,#content .next_link,#content  .first_link,#content  .last_link, #content .ellipse {background-color: #fff;border: 1px solid #ddd;color:  #0275d8;display: inline-block;line-height: 1.25;margin-left: -1px;padding: 0.5rem 0.75rem;position: relative;}
#content .page_navigation > a:hover , .page_navigation > a.active_page {background-color: #eceeef;border-color: #ddd;color: #014c8c;text-decoration: none;}

h1 {font-size: 96px;font-weight: 600;color:#666666;line-height: 70px}
h1 span{display: block;font-size: 45px;font-weight: 600;}
h2 {font-size: 65px;font-weight: 600;color: #666666;}
h3 {font-size: 50px; font-weight: 600; color: #FFFFFF;}
h4 {font-size: 30px; font-weight: 400; color: #666666;}
h5 {font-size: 20px; font-weight: 400; color: #666666;}
/*header*/
#header {padding: 5px 0}
#header .row{max-width: 1300px}
#header nav a#pull {display: none}
#header nav ul {margin: 0;padding: 0}
#header nav ul li {display: inline-block;vertical-align: middle;}
#header nav ul li a {font-weight: 600; font-size: 15px; color: #888888;margin: 0 0 0 53px;}
#header nav ul li.active-menu a, #header nav ul li a:hover {font-weight: 800; font-size: 15px; color: #666666;}
.hdLeft img{max-width: 315px; width: 100%;margin: 0 auto;}
.hdRight{text-align: right;}
.hdRightTop{position: relative;}
.hdRightTop::after{content: ""; width: 66%; height: 1px; background: #AAAAAA; position: absolute; bottom: 16px; right: 0;}
.hdRightTop p{display: inline-block; vertical-align: bottom;font-weight: 800; font-size: 13px; color: #666666;margin: 0 0 40px;}
.hdRightTop p span{font-weight: 700; font-size: 15px; color: #666666;}
.hdRightTop p:last-child span{font-size: 22px}
.hdRightTop p:first-child{margin: 0 18.5% 40px 0;}
/*banner*/
#banner {background: url(../images/common/bgBanner.jpg)no-repeat center top; background-size: cover; padding: 669px 0 66px}
#banner p:first-child{margin: 0;line-height: 86px; font-weight: 600; font-size: 72px; color: #ffffff;}
#banner p:nth-child(2){margin: 14px 0 26px;line-height: 38px;font-weight: 400; font-size: 30px; color: #ffffff;}
/*content*/
#what-we-do{padding: 103px 0 116px;}
.services{margin: 40px 0 0;}
.services dl{max-width: 388px;width: 100%; display: inline-block;vertical-align:top;margin: 0 auto;}
.services dl:nth-child(2){margin: 0 40px;}
.services dl dt img{max-width: 388px; width: 100%;}
.services dl dd{padding: 40px 0 0; margin: 0;font-weight: 600; font-size: 20px; color: #666666;}

#welcome{background: #3F3025 url(../images/common/bgWelcome.jpg)no-repeat left center; background-size: 50%; padding: 85px 0 70px;}
#welcome .row{max-width: 100%}
#welcome .col-8{width: 63.1578947368421%;}
#welcome .wlcTop{max-width: 519px; width: 100%;margin: 0 auto;text-align: left;}
#welcome .wlcTop h1{color: #ffffff;}
#welcome .wlcTop p:first-child{font-weight: 600; font-size: 15px; color: #fff; margin: 0 0 1em;}
#welcome .wlcTop p {font-size: 14px; color: #fff; line-height: 25px}
#welcome .wlcTop .btn{font-size: 11px; padding: 10px 30px;}
#welcome .wlcBot{text-align: right;margin: 50px 0 0;}
#welcome .wlcBot img.middle{margin: 0 14px;}
#welcome .wlcBot img {max-width: 388px; width: 30%;}
/* recentworks */
#recent-works{padding: 63px 0 100px;}
.rwImages img{width: 30%; margin: 40px auto 0;}
.rwImages img.middle{margin: 40px 45px 0;}
/* services2 */
#services2 .svc2Top{background: url(../images/common/bgServices.jpg)no-repeat center top; background-size: cover;padding:130px 0 300px;}
#services2 .svc2Bot{padding: 1px 0 120px;position: relative;margin-top: -230px;}
.svc2Top h2{font-size: 64px}
.svc2Top h5{margin-top: 20px;}
.svc2Top h2, .svc2Top h5{color: #ffffff;}
.svc2Bot dl{background: #696461; width: 388px;display: inline-block; vertical-align: top;margin: 0 auto;}
.svc2Bot dl dt img{width: 100%;}
.svc2Bot dl:nth-of-type(2){margin: 0 40px;}
.svc2Bot dl dd{padding: 30px; margin: 0; text-align: left;min-height: 120px}
.svc2Bot dl dd p:first-child{font-weight: 700; font-size: 21px;}
.svc2Bot dl dd p{font-weight: 400; font-size: 16px; color: #fff;margin: 0 auto; line-height: 30px}
/* map */
#map{background: url(../images/common/map.jpg)no-repeat center top; background-size: cover; padding: 95px 0 268px;}
#map img{max-width: 315px; width: 100%;margin: 0 auto;}
/* contact */
#contact .row{max-width: 95%}
  .cntLeft.col-6{width: 44.21052631578947%;background: url(../images/common/bgWhy.jpg)no-repeat center top; background-size: cover;padding: 86px 0 248px  }
  .cntRight.col-6{width:55.78947368421052%;padding: 86px 0 100px;background: #555555}
  .cntLeft .container{max-width: 520px; width: 100%; margin: 0 0 0 auto;text-align: left;}
  .cntLeft .container ul{list-style:none;}
  .cntLeft .container ul li img, .cntLeft .container ul li p{display: inline-block; vertical-align: middle;}
  .cntLeft .container ul li {line-height: 40px}
  .cntLeft .container ul li p{margin-left: 10px;font-weight: 700; font-size: 20px; color: #FFFFFF;}
  .cntRight .container{max-width: 580px; width: 100%; margin: 0 320px 0 auto;text-align: left;}
  .cntRight .container .ctc-form{text-align: left; color: #ffffff;}
  .cntRight .container form input[type="text"], .cntRight .container form textarea{background: none; border-top: 0; border-left: 0; border-right: 0; border-bottom: 1px solid #FFFFFF; border-radius: 0}
  .cntRight .container form input[type="text"]::placeholder, .cntRight .container form textarea::placeholder{font-family: "Open Sans"; font-size: 14px; color: #fff;}
  .cntRight .container form input[type-="checkbox"], .cntRight .container form p.check{display: inline-block; vertical-align: top;}
  .cntRight .container form p.check {margin: 0 0 0 20px;max-width: 500px}
  .cntRight .container form.ctc-form button{margin: 20px 0 0 auto;}
.bg-wcu1 {width: 44px; height: 44px;background: url('../images/common/wcu-sprites.png') -77px -10px;}
.bg-wcu2 {width: 40px; height: 46px;background: url('../images/common/wcu-sprites.png') -141px -10px;}
.bg-wcu3 {width: 38px; height: 50px;background: url('../images/common/wcu-sprites.png') -77px -74px;}
.bg-wcu4 {width: 39px; height: 52px;background: url('../images/common/wcu-sprites.png') -10px -76px;}
.bg-wcu5 {width: 47px; height: 46px;background: url('../images/common/wcu-sprites.png') -10px -10px;}
/* details */
#details{padding: 44px 0 35px;}
.detLeft img{max-width: 315px; width: 100%;margin: 0 auto;}
.detRight .container{max-width: 860px; margin:0 0 0 auto}
.detRight .container dl{max-width: 280px;display: inline-block; vertical-align: top; text-align: left;}
.detRight .container dl:nth-of-type(2){margin-right: 50px; margin-left: 50px;}
.detRight .container dl dt img, .detRight .container dl dt p{display: inline-block;vertical-align: middle;}
.detRight .container dl dt p{font-weight: 600; font-size: 15px; color: #666666;margin: 0 0 0 10px;}
.detRight .container dl:first-child dd{font-size: 22px; font-weight: bold; color: #666666;}
.detRight .container dl dd{font-size: 15px; font-weight: bold; color: #666666;margin: 15px 0 0 40px;}
.bg-email {width: 25px; height: 19px;background: url('../images/common/det-sprites.png') -10px -55px;}
.bg-location {width: 21px; height: 25px;background: url('../images/common/det-sprites.png') -55px -10px;}
.bg-phone {width: 25px; height: 25px;background: url('../images/common/det-sprites.png') -10px -10px;}
/*footer*/
#footer {background: #3F3025;padding: 25px 0}
#footer .copy, #footer .silver{font-weight: 700; font-size: 12px; color: #ffffff;}
#footer .silver img {display: inline-block;vertical-align: middle;max-width: 50px}


/*inner pages*/
.inner #content {min-height: 400px;padding: 40px 0;}
.inner #content h1{margin-bottom: 40px;}
/*privacy policy*/
.inPrivacyBox {max-width: 850px; margin: 0 auto;}
.inPrivacyBox p {text-align: justify!important;}


/** Responsive
-------------------------------------------------------*/


@media screen and (max-width: 1024px){
	body {min-width: 320px}
	.row {width: 95%}
  .services dl dd{padding: 40px 0 60px;}
  #welcome{background: #3F3025 url(../images/common/bgWelcome.jpg)no-repeat left center; background-size: 35%;}
  .rwImages img{margin: 20px auto;}
  .rwImages img.middle{margin: 20px 20px;}
  .svc2Bot dl {width: 29%;}
  .svc2Bot dl dd {min-height: 150px}
  .svc2Bot dl dd p{font-size: 11px}
  .cntLeft.col-6 {padding: 86px 0 187px;}
  .detLeft.col-3{width: 50%;}
  .detRight.col-9{width: 50%;}
  .detRight .container dl{max-width: 100%; width: 100%;}
  .detRight .container dl:nth-of-type(2){margin: 0;}
}
@media screen and (max-width: 975px){
  #header nav ul li a {margin: 0 0 0 28px;}
  .hdRightTop p:first-child {margin: 0 14% 40px 0;}
}
@media screen and (max-width:933px){
  .cntLeft.col-6 {padding: 86px 0 206px;}
}
@media screen and (max-width:820px){
  .cntLeft.col-6 {padding: 86px 0 160px;}
}
@media screen and (max-width: 800px){
  [class*="col-"] {width: 100%!important;}
  .inb{width: 100%!important;}
  .resSection{padding: 30px 0!important;}
  .resImage{display: none!important;}
  .resMiddle{margin: 10px 0!important;}
	#header {padding: 60px 0 0}
	#header .row {width: 100%}
	#header nav {display:block; height: auto; position: absolute; left: 0; right: 0; top: 0; background: #fff; z-index: 9999}
  	#header nav ul { width: 100%; display: none; height: auto;border-bottom:5px solid #666666;}
  	#header nav ul li { width: 100%;position: relative; }
  	#header nav ul li a { display: block; float:none; padding: 10px 0; width: 94%;}
  	#header nav a {text-align: left; width: 100%;}
	#header nav a strong {position: absolute; top: 50%; transform: translateY(-50%); left: 15px;}
  #header nav ul li.active-menu, #header nav ul li:hover {background: #666666;}
  #header nav ul li.active-menu a, #header nav ul li a:hover{color: #FFF;}
	#header nav a#pull {display: block; color: #fff; background-color: #fff; height: 30px;padding: 10px 0; width: 100%; position: relative; color: #666666;border-top: 3px solid #666666;border-bottom: 3px solid #666666;}
	#header nav a#pull:after { content:""; background: url('../images/nav-icon.png') no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; transform: translateY(-50%);}
  .hdRight{text-align: center;}
  .hdRightTop::after{display: none;}
  .hdRight p{display: block;margin: 20px auto !important;}
  #banner{padding: 100px 0 40px;}
    #welcome{background: #3F3025;}
    #welcome .wlcBot{text-align: center;}
    #welcome .wlcBot img{width: 80%;}
    #welcome .wlcBot img.middle{margin: 20px auto;}
    .rwImages img{width: 40%;margin: 20px 2%;}
    .rwImages img.middle{margin: 20px 2%;}
    #services2 .svc2Top{padding:30px 0 300px;}
    #services2 .svc2Bot{padding: 1px 0 30px;}
    .svc2Bot dl{width: 80%;}
    .svc2Bot dl:nth-of-type(2){margin: 20px auto;}
    .svc2Bot dl dd {min-height: 0}
    .svc2Bot dl dd p{font-size: 14px}
    .cntLeft .container{max-width: 100%; width: 100%; margin: 0 auto;text-align: left;}
    .cntRight .container{max-width: 100%; width: 100%; margin: 0 auto;text-align: left;}
	.cta{background: #666666  url("../images/common/phonecall.png") no-repeat center center;border-bottom-left-radius: 40px;border-top: 2px solid #666666 ;border-top-left-radius: 40px;bottom: 1%;display: block;height: 80px;position: fixed;right: 0;text-decoration: none; text-indent: -9999em;width: 100px;z-index: 999;}
}
@media screen and (max-width: 600px){
  #banner p:first-child{line-height: 14.333333333333334vw; font-size: 12vw}
  #banner p:nth-child(2){line-height: 6.333333333333333vw; font-size: 5vw}
  h1 {font-size: 16vw;line-height: 11.666666666666666vw;}
  h1 span{font-size: 7.5vw!important;}
  h2 {font-size: 10.833333333333334vw!important;}
  h3 {font-size: 8.333333333333334vw!important;}
  h4 {font-size: 5vw!important;}
  h5 {font-size: 3.3333333333333335vw!important;}
  .inner #content h1 {font-size: 16vw;line-height: 11.666666666666666vw;}
}
